/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #logo-img { 
      width: 10vw;
    }
  
    #BackgroundInicio {
      background-image: url("../../IMG/Sonic1/Sonic1BG1.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 90vh;
      min-height: 50%;
      background-position: center;
    }
  
    #BackgroundResto {
      background-color: #2F60AC;
    }
  
    #logo {
      margin-top: 50px;
      width: 25vw;
      margin-left: 120px;
    }
  
    .col-lg-6 {
      font-weight: bold;
      font-size: larger;
      text-decoration: none;
    }
  
    .col-md-6 {
      display: none;
    }
  
    body {
      background-color: #2F60AC;
    }
  
    table thead th {
      text-align: center !important;
      vertical-align: middle !important;
    }
  
    #introdução {
      color: white;
      text-shadow:
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
    }
  
    a {
      text-decoration: none !important;
    }
  
    #divisão {
      padding-top: 2vh;
    }
  }
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    body {
      background-color: #2F60AC;
      max-width: 100%;
      overflow-x: hidden;
    }
  
    #BackgroundInicio {
      background-image: url("../../IMG/Sonic1/Sonic1BGMobile.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 180vh;
      width: auto;
    }
  
    #introdução {
      padding-top: 90%;
      position: relative;
      color: white;
      text-shadow:
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
      text-align: center;
    }
  
    .col-md-6 {
      display: block;
      font-weight: bold;
      font-size: larger;
      text-decoration: none;
    }
  
    .col-lg-6 {
      display: none;
    }
  
    #logo {
      display:none
    }
  
    .col-6 {
      font-weight: bold;
      font-size: larger;
      text-decoration: none;
    }
  
    table thead th {
      padding-top: 0vh;
      text-align: center !important;
    }
  
    #tabela {
      margin-top: 1vh;
    }
  
    #tabela2 {
      margin-top: 5vh;
    }
  
    a {
      text-decoration: none;
      color: blue;
    }
  
    #logo-img{ 
      width: 30vw;
      margin-left: 30vw;
  }
  img{
    width: 100%;
  }
  
    #Linktopage {
      color: blue;
      text-decoration: none !important;
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}