body {
    background-color: #2F60AC;
}

@media (max-width: 575.98px) {  /* Celulares pequenos */
    body { 
    background-image:url("../../../IMG/Sonic1/Ports/BG3.png");
    overflow-x: hidden;
    }

    .navbar-brand img {
        vertical-align: middle; /* Garante que a imagem do logo fique centralizada verticalmente */
    }

    #logo {
        margin-top: 50px;
        width:90vw;
    }

    #BackgroundInicio {
    background-image: url("../../../IMG/Sonic1/Ports/BGMobile2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    width:100%;
    height: 80vh;
    min-height: 600px;
    font-weight: bold;
    }

    #Passo-a-passoPC, #alertaMD, #IntroduçãoMD, #ADPC, .container mt-4, .col-lg-6, .col-lg-10{
      display: none;
    }

    #Passo-a-passo {
        border-style: solid;
        background-image: url("../../../IMG/Sonic1/Ports/BG2.png");
        border-color: #C81F34;
        color: black;  
         
    }

    #tutorial-img {
      width: 50vw;
      height: auto;
    }

    #introdução {
        padding-top: 25%;
        font-size: 1em;
        color: black;
        font-weight: bold;
    }

    #alerta2 {
    padding: 2vh;
    margin-top: 5vh;
    background-color: red;
    color: black;
    }
}


@media (min-width: 576px) and (max-width: 767.98px) {  /* Celulares grandes */
    body{
    background-image:url("../../../IMG/Sonic1/Ports/BG3.png");
    overflow-x: hidden;
    width: 100%;
    }

    .navbar-brand img {
    vertical-align: middle; /* Garante que a imagem do logo fique centralizada verticalmente */
    }

    .col-lg-2,  #Passo-a-passoPC, .col-lg-10, #introdução, #alerta, #logo, #ADPC {
    display: none;
    }


    
    #BackgroundInicio{
    background-image: url("../../../IMG/Sonic1/Ports/BGMobileMD.png");
    background-repeat: no-repeat;
    background-size: contain;  
    width:100vw;
    background-position-x: center;
    height: 60vh;
    }

    #IntroduçãoMD {
    margin-top: 5vh; 
    background-color:#2F60AC;
    font-size: 1.2rem;
    color:black;
    margin-bottom: 5vh;
  }
  #alertaMD {
    background-color: red;
    font-size: 1.2rem;
    color:black;
  }

  #Passo-a-passo {
    border-style: solid;
    background-image: url("../../../IMG/Sonic1/Ports/BG2.png");
    border-color: #C81F34;
    color: black;   
    }

  #tutorial-img {
  width: 30vw;
  height: auto;
  }


  #alerta2 {
    padding: 2vh;
    margin-top: 5vh;
    background-color: red;
    color: black;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {  /* Tablets */
    body {
      background-image:url("../../../IMG/Sonic1/Ports/BG3.png");
      overflow-x: hidden;
      width: 100%;
    }
    .navbar-brand img {
        vertical-align: middle; /* Garante que a imagem do logo fique centralizada verticalmente */
    }

    .col-lg-2,  #Passo-a-passoPC, .col-lg-10, #IntroduçãoMD {
      display: none;
    }

  #alerta2 {
    padding: 2vh;
    margin-top: 5vh;
    background-color: red;
    color: black;
  }

  #BackgroundInicio {
    background-image: url("../../../IMG/Sonic1/Ports/BG1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 100vh;
    background-position-x: center;
    padding-bottom: 30vh;
  }


  #introdução {
    padding-top: 5vh;
    position: relative;
    color:black;
        text-shadow:
      -1px -1px 0 #fff,  
       1px -1px 0 #fff,
      -1px 1px 0 #fff,
       1px 1px 0 #fff;
    font-weight: bold;
    font-size: 1.5rem;
  }

    #alertaMD {
    margin-top: 5vh;
    background-color: red;
    font-size: 1.2rem;
    color:black;
  }

  #alerta{
    font-size: 0.8em;
    padding: 2vh;
    background-color: red;
    color: black;
}
  .col-md-6 {
    display: block;
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
    font-size: 1rem;
  }

  .col-lg-6 {
    display: none;
  }

  #logo {
    margin-left: 15%;
    margin-top: 50px;
    width: 30vw;
  }

  .col-6 {
    font-weight: bold;
    font-size: 1;
    text-decoration: none;
  }

  table thead th {
    padding-top: 0vh;
    text-align: center !important;
  }

 

  a {
    text-decoration: none;
    color: blue;
  }


img{
  width: 100%;
}

#nav{
  width: 100%;
}

  #Linktopage {
    color: blue;
    text-decoration: none !important;
  }  

  #Passo-a-passo {
    border-style: solid;
    background-image: url("../../../IMG/Sonic1/Ports/BG2.png");
    border-color: #C81F34;
    color: black;   
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {  /* Laptops */


    body{
          background-image:url("../../../IMG/Sonic1/Ports/BG3.png");

  }


  #BackgroundInicio {
    background-image: url("../../../IMG/Sonic1/Ports/BG1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    min-height: 50%;
    background-position: center;
  }

  #BackgroundResto {
    background-color: #2F60AC;
  }

  #logo {
    margin-top: 50px;
    width: 25vw;
    margin-left: 120px;
  }

  .col-lg-6 {
    font-weight: bold;
    font-size: large;
    text-decoration: none;
  }

  #alerta{
    font-size: 0.8em;
    padding: 2vh;
    background-color: red;
    color: black;
}
  

.col-sm-8{
    display: none;
  }


  table thead th {
    text-align: center !important;
    vertical-align: middle !important;
  }

  #introdução {
    color: black;
    text-shadow:
      -1px -1px 0 #fff,  
       1px -1px 0 #fff,
      -1px 1px 0 #fff,
       1px 1px 0 #fff;
  }

  a {
    text-decoration: none !important;
  }

  #divisão {
    padding-top: 2vh;
  }  

#Passo-a-passoPC{
    border-style: solid;
    background-image: url("../../../IMG/Sonic1/Ports/BG2.png");
    border-color: #C81F34;
    color: black;
}

#Passo-a-passo1{
position: relative;
top:3vh ;
text-align: center;
padding-top: 10vh;
}


#Passo-a-passo h6{
    font-size: 1.1em;
    font-weight: bold;

}

 .col-sm-10, #IntroduçãoMD, #alertaMD, .col-sm-8, #Passo-a-passoCell, #ADCell{
    display: none;
  }

  #tutorial-img{
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 25vw;
}

#alerta2{
    padding: 2vh;
    margin-top: 5vh;
    background-color: red;
    color: black;
}
}

@media only screen and (min-width: 1200px) {

    body{ 
    background-image:url("../../../IMG/Sonic1/Ports/BG3.png");

    }
    .navbar-brand img {
        vertical-align: middle; /* Garante que a imagem do logo fique centralizada verticalmente */
    }

#BackgroundInicio {
    background-image: url("../../../IMG/Sonic1/Ports/BG1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    background-position: center ;
}


.col-sm-10, #IntroduçãoMD, #alertaMD, .col-sm-8, #Passo-a-passoCell, #ADCell{
    display: none;
}

#logo {
    margin-top: 10px;
    margin-bottom: 10px;
    width:30vw;
    margin-left: 120px;
}
.col-lg-6{
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
}

#introdução{

  color: black;
  text-shadow:
   -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;
}

#alerta{
    font-size: 0.8em;
    padding: 2vh;
    background-color: red;
    color: black;
}
body a {
    text-decoration: none !important;
  }

  #divisão{
    padding-top: 2vh;
  }

#Passo-a-passoPC{
    border-style: solid;
    background-image: url("../../../IMG/Sonic1/Ports/BG2.png");
    border-color: #C81F34;
    color: black;
}

#Passo-a-passo1{
position: relative;
top:3vh ;
text-align: center;
padding-top: 10vh;
}


#Passo-a-passo h6{
    font-size: 1.1em;
    font-weight: bold;

}

#nota{
    font-size: 0.9em;
}

#alerta2{
    padding: 2vh;
    margin-top: 5vh;
    background-color: red;
    color: black;
}

#tutorial-img{
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 25vw;
}

}
