body{
    background-color: #2F60AC;
}

@media (max-width: 575.98px) {  /* Celulares pequenos */
    body{  background-image:url("../../../IMG/Sonic1/Ports/tile2.png");}
    .navbar-brand img {
        vertical-align: middle; /* Garante que a imagem do logo fique centralizada verticalmente */
    }
    #logo {
        margin-top: 50px;
        width:90vw;
 
    }
    #logo-img{ 
        width: 30vw;
        margin-left: 30vw;
    }
    #BackgroundInicio {
        background-image: url("../../../IMG/Sonic1/Ports/Sonic1BG3Mobile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 80vh;
        min-height: 50%;
        background-position: center ;
    }
    .container mt-4{
        display: none;
    }
    .col-lg-6, .col-lg-10{
        display: none;
    }

    #Menu-sticky{
        display: none;
    }
    #Passo-a-passo{
        border-style: solid;
        background-image: url("../../../IMG/Sonic1/Ports/Sonic1BG3.png");
        border-color: #C81F34;
        color: black;   
    }
    #introdução{
        font-size: 1em;
        padding-top: 10vh;
        color: black;
        text-shadow:
         -1px -1px 0 #fff,  
          1px -1px 0 #fff,
          -1px 1px 0 #fff,
           1px 1px 0 #fff;
    }
    #computadorMobile{
    border-style: solid;
    border-color: #C81F34;
    background-image: url("../../../IMG/Sonic1/Ports/Sonic1BG3.png");
    align-items: center;
    margin-bottom: 5vh;
}

#celularMobile{
    border-style: solid;
    border-color: #C81F34;
    background-image: url("../../../IMG/Sonic1/Ports/Sonic1BG3.png");
    align-items: center;
}

#alerta2{
    padding: 2vh;
    margin-top: 5vh;
    background-color: red;
    color: black;
}
}
@media (min-width: 576px) and (max-width: 767.98px) {  /* Celulares grandes */
    body{  background-image:url("../../../IMG/Sonic1/Ports/tile2.png");}
    .navbar-brand img {
        vertical-align: middle; /* Garante que a imagem do logo fique centralizada verticalmente */
    }
    #logo {
display: none;
 
    }
    #logo-img{ 
        width: 30vw;
        margin-left: 30vw;
    }
    #BackgroundInicio {
        background-image: url("../../../IMG/Sonic1/Ports/BGMobileMD.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: center;
    }
    .container mt-4{
        display: none;
    }
    .col-lg-6, .col-lg-10{
        display: none;
    }

    #Menu-sticky{
        display: none;
    }
    #Passo-a-passo{
        border-style: solid;
        background-image: url("../../../IMG/Sonic1/Ports/Sonic1BG3.png");
        border-color: #C81F34;
        color: black;   
    }
    #introdução{
        font-size: 1em;
        padding-top: 50vh;
        color: black;
        text-shadow:
         -1px -1px 0 #fff,  
          1px -1px 0 #fff,
          -1px 1px 0 #fff,
           1px 1px 0 #fff;
    }
    #computadorMobile{
    border-style: solid;
    border-color: #C81F34;
    background-image: url("../../../IMG/Sonic1/Ports/Sonic1BG3.png");
    align-items: center;
    margin-bottom: 5vh;
}

#celularMobile{
    border-style: solid;
    border-color: #C81F34;
    background-image: url("../../../IMG/Sonic1/Ports/Sonic1BG3.png");
    align-items: center;
}

#alerta2{
    padding: 2vh;
    margin-top: 5vh;
    background-color: red;
    color: black;
}
}

@media (min-width: 768px) and (max-width: 991.98px) {  /* Tablets */
  body {
    background-color: #2F60AC;

    overflow-x: hidden;
  }
  .navbar-brand img {
    vertical-align: middle; /* Garante que a imagem do logo fique centralizada verticalmente */
}


  #BackgroundInicio {
    background-image: url("../../../IMG/Sonic1/Ports/Sonic1BG3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    background-position-x: center;
    padding-bottom: 30vh;
  }



  #introdução {
    padding-top: 5vh;
    position: relative;
    color: white;
    text-shadow:
      -1px -1px 0 #000,  
       1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    text-align: center;
    font-size: large;
  }

  .col-md-6 {
    display: block;
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
    font-size: 1rem;
  }

  .col-lg-6 {
    display: none;
  }

  #logo {
    margin-left: 15%;
    margin-top: 50px;
    width: 30vw;
  }

  .col-6 {
    font-weight: bold;
    font-size: 1;
    text-decoration: none;
  }

  table thead th {
    padding-top: 0vh;
    text-align: center !important;
  }

 

  a {
    text-decoration: none;
    color: blue;
  }

  #logo-img{ 
    width: 30vw;
    margin-left: 110%;
}
img{
  width: 100%;
}

#nav{
  width: 100%;
}

  #Linktopage {
    color: blue;
    text-decoration: none !important;
  }  
}

@media (min-width: 992px) and (max-width: 1199.98px) {  /* Laptops */


    body{
          background-image:url("../../../IMG/Sonic1/Ports/tile2.png");

  }

    #logo-img { 
    width: 10vw;
    }
  #BackgroundInicio {
    background-image: url("../../../IMG/Sonic1/Ports/Sonic1BG3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    min-height: 50%;
    background-position: center;
  }

  #BackgroundResto {
    background-color: #2F60AC;
  }

  #logo {
    margin-top: 50px;
    width: 25vw;
    margin-left: 120px;
  }

  .col-lg-6 {
    font-weight: bold;
    font-size: large;
    text-decoration: none;
  }

  #alerta{
    font-size: 0.8em;
    padding: 2vh;
    background-color: red;
    color: black;
}
  

.col-sm-8{
    display: none;
  }


  table thead th {
    text-align: center !important;
    vertical-align: middle !important;
  }

  #introdução {
    color: white;
    text-shadow:
      -1px -1px 0 #000,  
       1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  }

  a {
    text-decoration: none !important;
  }

  #divisão {
    padding-top: 2vh;
  }  
}

@media only screen and (min-width: 1200px) {

#BackgroundInicio {
    background-image: url("../../../IMG/Sonic1/Ports/Sonic1BG3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    background-position: center ;
}

#logo-img{ 
    width: 10vw;
}
.col-sm-10{
    display: none;
}
.col-sm-8{
    display: none;
}

#logo {
    margin-top: 10px;
    margin-bottom: 10px;
    width:30vw;
    margin-left: 120px;
}
.col-lg-6{
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
}
body
{  background-image:url("../../../IMG/Sonic1/Ports/tile2.png");
display: block;}
table thead th {
    text-align: center !important;
    vertical-align: middle !important;
}
#introdução{

  color: black;
  text-shadow:
   -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;
}

#alerta{
    font-size: 0.8em;
    padding: 2vh;
    background-color: red;
    color: black;
}
body a {
    text-decoration: none !important;
  }


  #divisão{
    padding-top: 2vh;
  }

#Passo-a-passo{
    border-style: solid;
    background-image: url("../../../IMG/Sonic1/Ports/Sonic1BG3.png");
    border-color: #C81F34;
    color: black;

}

#Passo-a-passo1{
    position: relative;
top:3vh ;
}

#Passo-a-passo h6{
    font-size: 1.1em;
    font-weight: bold;

}
#Menu-sticky{
    position: sticky;
    top:40%;
    border-style: solid;
    border-color: blue;
    text-align: center;
}
#Menu-sticky a{
    position: sticky;
    top:40%;
    border-style: solid;
    border-color: blue;
    text-align: center;
}

#nota{
    font-size: 0.9em;
}

#alerta2{
    padding: 2vh;
    margin-top: 5vh;
    background-color: red;
    color: black;
}

#tutorial-img{
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 30vw;
}


#Passo-a-passo1{
 text-align: center;
padding-top: 10vh;
}


}

@media only screen and (max-width: 600px){
    body{  background-image:url("../../../IMG/Sonic1/Ports/tile2.png");}
    .navbar-brand img {
        vertical-align: middle; /* Garante que a imagem do logo fique centralizada verticalmente */
    }
    #logo {
        margin-top: 50px;
        width:90vw;
 
    }
    #logo-img{ 
        width: 30vw;
        margin-left: 30vw;
    }
    #BackgroundInicio {
        background-image: url("../../../IMG/Sonic1/Ports/Sonic1BG3Mobile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 80vh;
        min-height: 50%;
        background-position: center ;
    }
    .container mt-4{
        display: none;
    }
    .col-lg-6, .col-lg-10{
        display: none;
    }

    #Menu-sticky{
        display: none;
    }
    #Passo-a-passo{
        border-style: solid;
        background-image: url("../../../IMG/Sonic1/Ports/Sonic1BG3.png");
        border-color: #C81F34;
        color: black;   
    }
    #introdução{
        font-size: 1em;
        padding-top: 10vh;
        color: black;
        text-shadow:
         -1px -1px 0 #fff,  
          1px -1px 0 #fff,
          -1px 1px 0 #fff,
           1px 1px 0 #fff;
    }
    #computadorMobile{
    border-style: solid;
    border-color: #C81F34;
    background-image: url("../../../IMG/Sonic1/Ports/Sonic1BG3.png");
    align-items: center;
    margin-bottom: 5vh;
}

#celularMobile{
    border-style: solid;
    border-color: #C81F34;
    background-image: url("../../../IMG/Sonic1/Ports/Sonic1BG3.png");
    align-items: center;
}

#alerta2{
    padding: 2vh;
    margin-top: 5vh;
    background-color: red;
    color: black;
}
}