
#test{
  font-size: 1.1rem;
}
    #division{
      background-image: url("../../IMG/SonicAdventure/Border.png");
      width: 100%;
      height: 5vh;

    }
       #division2{
      background-image: url("../../IMG/SonicAdventure/Border.png");
      width: 100%;
      height: 5vh;
      margin-bottom: 5vh;

    }


.divisor {
  position: relative;
  z-index: 100;
  padding-top: 100px;
  margin-bottom: -50px;
}

.divisor img {
  width: 100%;
  display: block;
}

  #Aviso2 {
background-color: red;
padding: 5px;
color: white;
font-weight: bold;
text-align: center;
margin-bottom: 5vh;
margin-top: 10%;
font-size: 1rem;
  }

#ModList, #Alternativos, #Essenciais{
  background-color: white;
  margin: 5vh;
  border-style: solid;
  border-radius: 25px;
  border-width: 5px;
  padding: 1vh;
  font-size: 1rem;
}
@media (max-width: 575.98px) {  /* Celulares pequenos */


  /*General START*/
    body {
  background-color: #FDDB00;
      max-width: 100%;
      overflow-x: hidden;
    }
  .navbar-brand img {
    vertical-align: middle; /* Garante que a imagem do logo fique centralizada verticalmente */
  }

  .col-lg-6, #logo,#division, #division2 /*HIDING*/ {
    display: none;
  }

    .col-md-6 {
    display: block;
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
  }

  img {
  width: 100%;
  }

  #Linktopage {
    color: blue;
    text-decoration: none !important;
  }



  
  /*General END*/

  /*Main START*/

     #BackgroundInicio {
      background-image: url("../../IMG/SonicMania/BGMobile.jpg");
      background-repeat: no-repeat;
      background-size: contain;
      height: 90vh;
      min-height: 900px;
    }
  
    #introdução {
      padding-top: 180%;
      position: relative;
      color: white;
      text-shadow:
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
      text-align: center;
    }

#Aviso {
background-color: red;
padding: 5px;
color: white;
    text-shadow:
      -1px -1px 0 #000,  
       1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    text-align: center;
    margin-bottom: 5vh;
    margin-top: 25%;
  }


#Aviso2 {
background-color: red;
padding: 5px;
color: white;
font-weight: bold;
text-align: center;
margin-bottom: 5vh;
margin-top: 10%;
font-size: 1rem;
  }

/*Main END*/   
  
/*Tutorial START*/

#Tutorial{
  background-color: white;
  margin: 5vh;
  border-style: solid;
  border-radius: 25px;
  border-width: 5px;
  padding: 1vh;
  font-size: 1rem;

}
#Titulo{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

/*Tutorial END*/
}
@media (min-width: 576px) and (max-width: 767.98px) {  /* Celulares grandes */
    
    /*General START*/
  body {
    background-color: #FDDB00;
    overflow-x: hidden;
  }
  .navbar-brand img {
    vertical-align: middle; /* Garante que a imagem do logo fique centralizada verticalmente */
  }

  .col-lg-6, #logo /*HIDING*/ {
    display: none;
  }

  .col-6 {
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
  }

   a {
    text-decoration: none;
    color: blue;
  }

  img{
  width: 100%;
  }

  #Linktopage {
    color: blue;
    text-decoration: none !important;
  }

  /*General END*/

  /*Main START*/

  #BackgroundInicio {
      background-image: url("../../IMG/SonicMania/BGMobileMD.jpg");
    background-repeat: no-repeat;
    background-size: contain;  
    width:100%;
    height: 90vh;
    background-position-x: center;
  }

  #introdução {
    padding-top: 70%;
    position: relative;
    color: white;
    text-shadow:
      -1px -1px 0 #000,  
       1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    text-align: center;
    font-size: larger;
    font-weight: bold;
  }
  #Explicação {
background-color: red;
padding: 5px;
color: white;
    text-shadow:
      -1px -1px 0 #000,  
       1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    text-align: center;
    margin-bottom: 5vh;
  }
  #Aviso {
background-color: red;
padding: 5px;
color: white;
font-weight: bold;
text-align: center;
margin-bottom: 5vh;
margin-top: 0%;
font-size: 1rem;
  }

/*Main END*/

/*Tutorial START*/

#Tutorial{
  background-color: white;
  margin: 5vh;
  border-style: solid;
  border-radius: 25px;
  border-width: 5px;
  padding: 1vh;
}

#Titulo{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
/*Tutorial END*/
}

@media (min-width: 768px) and (max-width: 991.98px) {  /* Tablets */

/*General START*/
  body {
  background-color: #FDDB00;
    overflow-x: hidden;
  }
  .navbar-brand img {
    vertical-align: middle; /* Garante que a imagem do logo fique centralizada verticalmente */
}

  img {
  width: 100%;
  }

  #Linktopage {
    color: blue;
    text-decoration: none !important;
  }

  .col-lg-6, #PropagandaMobile {
    display: none;
  }

  .col-md-6 {
    display: block;
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
    font-size: 1rem;
  }

  #logo {
    margin-left: 15vw;
    margin-top: 15px;
    width: 30vw;
  }

  .col-6 {
    font-weight: bold;
    font-size: 1;
    text-decoration: none;
  }

/*General END*/

/*Main START*/
  #BackgroundInicio {
    background-image: url("../../IMG/SonicMania/BG1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 90vh;
    min-height: 500px;
    background-position-x: 60%;
    padding-bottom: 30vh;
  }

  #introdução {
    
    padding-top: 5vh;
    position: relative;
    color: white;
    text-shadow:
      -1px -1px 0 #000,  
       1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    text-align: center;
    font-size: 1rem;
    width: 100%;
  }

  #Explicação {
background-color: red;
padding: 5px;
color: white;
    text-shadow:
      -1px -1px 0 #000,  
       1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    text-align: center;
    margin-bottom: 5vh;
  }

  #Aviso {
background-color: red;
padding: 5px;
color: white;
font-weight: bold;
text-align: center;
margin-bottom: 5vh;
margin-top: 5%;
font-size: 1rem;
  }

/*Main END*/

/*Tutorial START*/
#Tutorial{
  background-color: white;
  margin: 5vh;
  border-style: solid;
  border-radius: 25px;
  border-width: 5px;
  padding: 1vh;
}

#Titulo{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}


/*Tutorial END*/

}
@media (min-width: 992px) and (max-width: 1199.98px) {  /* Laptops */

/*General START*/

  body {
background-color: #FDDB00;
  overflow-x: hidden;
  }

  #logo {
    margin-top: 25px;
    width: 25vw;
    margin-left: 190px;
  }

  .col-lg-6 {
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
  }

    .col-lg-8 {
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
    width: 90vw;
  }

  .col-md-6,#PropagandaMobile {
    display: none;
  } 

  a {
    text-decoration: none !important;
  }
  #divisão {
    padding-top: 2vh;
  }   
/*General END*/

/*Main START*/
  #BackgroundInicio {
    background-image: url("../../IMG/SonicMania/BG1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    min-height: 500px;
    background-position: center;

  }

  #introdução {
    color: white;
    text-shadow:
      -1px -1px 0 #000,  
       1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
       width: 100%;
  }

    #Explicação {
background-color: red;
padding: 5px;
color: white;
    text-shadow:
      -1px -1px 0 #000,  
       1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    text-align: center;
    margin-bottom: 5vh;
  }

#Aviso {
background-color: red;
padding: 5px;
color: white;
font-weight: bold;
text-align: center;
margin-bottom: 5vh;
margin-top: 10%;
font-size: 1rem;
  }
/*Main END*/

/*Tutorial START*/
#Tutorial{
  background-color: white;
  border-style: solid;
  border-radius: 25px;
  border-width: 5px;
  padding: 1vh;
  margin-bottom: 5vh;

}

#Titulo{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
/*Tutorial END*/
}
@media (min-width: 1200px) {  /* Desktops grandes */


/*General START*/

  body {
    background-color: #FDDB00;
    overflow-x: hidden;
  }

  #logo {
    margin-top: 50px;
    width: 25vw;
    margin-left: 120px;
  }

  .col-lg-6 {
    font-weight: bold;
    font-size: 0.5rem;
    text-decoration: none;
  }

  .col-md-6, #PropagandaMobile {
    display: none;
  }

  a {
    text-decoration: none !important;
  }

  #divisão {
    padding-top: 2vh;
  }

/*General END*/

/*Main START*/

  #BackgroundInicio {
    background-image: url("../../IMG/SonicMania/BG1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    min-height: 500px;
    background-position: center;
  }

  #introdução {
    color: white;
    text-shadow:
      -1px -1px 0 #000,  
       1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    font-size: 1.2rem;
    width: 100%;
  }


#Aviso {
background-color: red;
padding: 5px;
color: white;
font-weight: bold;
text-align: center;
margin-bottom: 5vh;
margin-top: 5%;
font-size: 1rem;
  }
/*Main END*/

/*Tutorial START*/
#Tutorial{
  background-color: white;
  border-style: solid;
  border-radius: 25px;
  border-width: 5px;
  padding: 1vh;
  margin-bottom: 5vh;
  font-size: 0.5rem;

}
#TutorialText{
  font-size: 0.5rem;
}
#Titulo{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

/*Tutorial END*/
}


