body{ /*Default BG*/
    background-color: #2F60AC;
}

@media (max-width: 575.98px) {  /* Celulares pequenos */

body{
  overflow-x: hidden;
}
.col-6{
  display: none;
}

#Introducao{
background-color: #FFF; 
text-align: center;
background-repeat: no-repeat;
background-image: url("../IMG/ExtrasClassico/Intro_BG1.png");
background-size: cover;
height: 130vh;

}

#Introducao h1 {
padding-top: 5vh;
font-size: 3rem;
font-weight: bold;
color: white;
text-shadow:
  -1px -1px 0 #000, 
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

#Introducao p {
padding-top:5vh;
font-size: 1.5rem;
font-weight: bold;
color: white;
padding-left: 5vw;
padding-right: 5vw;
text-shadow:
  -1px -1px 0 #000, 
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

#Smackdown {
      
background-image: url("../IMG/ExtrasPosModerno/Smackdown_BGMobile.png");
background-size: cover;
min-height:900px;
background-position:center;
background-repeat: no-repeat;
width: 100%;
position: relative;
z-index: 1;
    }

#SmackdownText {
  margin-right: 7.5vw;
  margin-top: 500px;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 20px;
  border-radius: 10px;
  font-size: large;
  width:100%;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow:
    -1px -1px 0 #FFF,  
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
    1px 1px 0 #FFF;
}

#LogoSmackdown {
      margin-top:5vh;
      width: 20vw;
      margin-left: 7.5vw;
    }
    
#UltiSmack {
      
background-image: url("../IMG/ExtrasPosModerno/UltiSmack_BGMobile.jpg");
background-size: cover;
height:auto;
background-position:center;
position: relative;
background-repeat: no-repeat;
width: 100%;
z-index: 1;
    }


#UltiSmackText {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  margin-top: 400px;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para melhorar a legibilidade */
  padding: 10px;
  border-radius: 10px;
  font-size: large;
  width: 100%;
}

.divisor {
  position: relative;
  z-index: 10;
  margin-top: -50px;
  margin-bottom: -50px;
}

.divisor img {
  width: 100%;
  display: block;
}

    #logo {
      margin-top:10vh;
      width: 25vw;
      margin-left: 120px;
    }
    #logo2 {
            margin-top:10vh;

      width: 20vw;
      margin-left: 120px;
    }
    .col-md-6 {
      display: none;
    }
      a {
      text-decoration: none !important;
    }

  }




@media (min-width: 576px) and (max-width: 767.98px) {  /* Celulares grandes */

body{
  overflow-x: hidden;
}
.col-6{
  display: none;
}

#Introducao{
background-color: #FFF; 
text-align: center;
background-repeat: no-repeat;
background-image: url("../IMG/ExtrasClassico/Intro_BG1.png");
background-size: cover;
height: 130vh;

}

#Introducao h1 {
padding-top: 5vh;
font-size: 3rem;
font-weight: bold;
color: white;
text-shadow:
  -1px -1px 0 #000, 
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

#Introducao p {
padding-top:5vh;
font-size: 1.5rem;
font-weight: bold;
color: white;
padding-left: 5vw;
padding-right: 5vw;
text-shadow:
  -1px -1px 0 #000, 
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

#Smackdown {
      
background-image: url("../IMG/ExtrasPosModerno/Smackdown_BGMobile.png");
background-size: cover;
min-height:1200px;
background-position:center;
background-repeat: no-repeat;
background-position-y: -1%;
width: 100%;
position: relative;
z-index: 1;
    }

#SmackdownText {
  margin-right: 7.5vw;
  margin-top: 500px;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 20px;
  border-radius: 10px;
  font-size: large;
  width:100%;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow:
    -1px -1px 0 #FFF,  
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
    1px 1px 0 #FFF;
}

#LogoSmackdown {
      margin-top:5vh;
      width: 20vw;
      margin-left: 7.5vw;
    }
    
#UltiSmack {
      
background-image: url("../IMG/ExtrasPosModerno/UltiSmack_BGMobile.jpg");
background-size: cover;
min-height:1200px;
background-position:center;
position: relative;
background-position-y:-1%;
background-repeat: no-repeat;
width: 100%;
z-index: 1;
    }


#UltiSmackText {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  margin-top: 600px;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para melhorar a legibilidade */
  padding: 10px;
  border-radius: 10px;
  font-size: large;
  width: 100%;
}

.divisor {
  position: relative;
  z-index: 10;
  margin-top: -50px;
  margin-bottom: -50px;
}

.divisor img {
  width: 100%;
  display: block;
}

    #logo {
      margin-top:10vh;
      width: 25vw;
      margin-left: 120px;
    }
    #logo2 {
            margin-top:10vh;

      width: 20vw;
      margin-left: 120px;
    }
    .col-md-6 {
      display: none;
    }
      a {
      text-decoration: none !important;
    }


}
@media (min-width: 768px) and (max-width: 991.98px) {  /* Tablets */

body{
  overflow-x: hidden;
}
.col-6{
  display: none;
}

#Introducao{
background-color: #FFF; 
text-align: center;
background-repeat: no-repeat;
background-image: url("../IMG/ExtrasClassico/Intro_BG1.png");
background-size: cover;
height: 130vh;

}

#Introducao h1 {
padding-top: 5vh;
font-size: 3rem;
font-weight: bold;
color: white;
text-shadow:
  -1px -1px 0 #000, 
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

#Introducao p {
padding-top:5vh;
font-size: 1.5rem;
font-weight: bold;
color: white;
padding-left: 5vw;
padding-right: 5vw;
text-shadow:
  -1px -1px 0 #000, 
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

#Smackdown {
      
background-image: url("../IMG/ExtrasPosModerno/Smackdown_BGMobile.png");
background-size: cover;
min-height:1200px;
background-position:center;
background-repeat: no-repeat;
background-position-y: -1%;
width: 100%;
position: relative;
z-index: 1;
    }

#SmackdownText {
  margin-right: 7.5vw;
  margin-top: 500px;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 20px;
  border-radius: 10px;
  font-size: large;
  width:100%;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow:
    -1px -1px 0 #FFF,  
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
    1px 1px 0 #FFF;
}

#LogoSmackdown {
      margin-top:5vh;
      width: 20vw;
      margin-left: 7.5vw;
    }
    
#UltiSmack {
      
background-image: url("../IMG/ExtrasPosModerno/UltiSmack_BGMobile.jpg");
background-size: cover;
min-height:1200px;
background-position:center;
position: relative;
background-position-y:-1%;
background-repeat: no-repeat;
width: 100%;
z-index: 1;
    }


#UltiSmackText {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  margin-top: 600px;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para melhorar a legibilidade */
  padding: 10px;
  border-radius: 10px;
  font-size: large;
  width: 100%;
}

.divisor {
  position: relative;
  z-index: 10;
  margin-top: -50px;
  margin-bottom: -50px;
}

.divisor img {
  width: 100%;
  display: block;
}

    #logo {
      margin-top:10vh;
      width: 25vw;
      margin-left: 120px;
    }
    #logo2 {
            margin-top:10vh;

      width: 20vw;
      margin-left: 120px;
    }
    .col-md-6 {
      display: none;
    }
      a {
      text-decoration: none !important;
    }



}
@media (min-width: 992px) and (max-width: 1199.98px) {  /* Laptops */
body{
  overflow-x: hidden;
}

.col-12{
  display: none;
}
#Introducao{
background-color: #FFF; 
text-align: center;
background-repeat: no-repeat;
background-image: url("../IMG/ExtrasClassico/Intro_BG1.png");
background-size: cover;
height: 90vh;

}

#Introducao h1 {
padding-top: 10vh;
font-size: 3rem;
font-weight: bold;
color: white;
text-shadow:
  -1px -1px 0 #000, 
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

#Introducao p {
font-size: 1.5rem;
font-weight: bold;
color: white;
padding-left: 5vw;
padding-right: 5vw;
text-shadow:
  -1px -1px 0 #000, 
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

#Smackdown {
      
background-image: url("../IMG/ExtrasPosModerno/Smackdown_BG.png");
background-size: cover;
height: 90vh;
background-repeat: no-repeat;
width: 100%;
position: relative;
z-index: 1;
}

#SmackdownText {
  margin-right: 7.5vw;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para melhorar a legibilidade */
  padding: 20px;
  border-radius: 10px;
  font-size: large;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow:
    -1px -1px 0 #FFF,  
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
    1px 1px 0 #FFF;
}

#LogoSmackdown {
      margin-top:8vh;
      width: 25vw;
      margin-left: 7.5vw;
    }
    
#UltiSmack {
background-image: url("../IMG/ExtrasPosModerno/UltiSmack_BG.png");
background-size: cover;
height: 100vh;
background-position-x: 40%;
background-repeat: no-repeat;
width: 100%;
position: relative;
z-index: 1;
}

#LogoUltiSmack {
      margin-top:5vh;
      width: 25vw;
      margin-left: 7.5vw;
    }

#UltiSmackText {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  margin-right: 7.5vw;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para melhorar a legibilidade */
  padding: 10px;
  border-radius: 10px;
  font-size: large;
  width: 100%;
}



.divisor {
  position: relative;
  z-index: 10;
  margin-top: -50px;
  margin-bottom: -50px;
}

.divisor img {
  width: 100%;
  display: block;
}

    #logo {
      margin-top:10vh;
      width: 25vw;
      margin-left: 120px;
    }
    #logo2 {
            margin-top:10vh;

      width: 20vw;
      margin-left: 120px;
    }
    .col-md-6 {
      display: none;
    }
      a {
      text-decoration: none !important;
    }
}
@media (min-width: 1200px) {  /* Desktops grandes */

body{
  overflow-x: hidden;
}

.col-12{
  display: none;
}
#Introducao{
background-color: #FFF; 
text-align: center;
background-repeat: no-repeat;
background-image: url("../IMG/ExtrasClassico/Intro_BG1.png");
background-size: cover;
height: 90vh;

}

#Introducao h1 {
padding-top: 10vh;
font-size: 3rem;
font-weight: bold;
color: white;
text-shadow:
  -1px -1px 0 #000, 
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

#Introducao p {
font-size: 1.5rem;
font-weight: bold;
color: white;
padding-left: 5vw;
padding-right: 5vw;
text-shadow:
  -1px -1px 0 #000, 
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

#Smackdown {
      
background-image: url("../IMG/ExtrasPosModerno/Smackdown_BG.png");
background-size: cover;
height: 90vh;
background-repeat: no-repeat;
width: 100%;
position: relative;
z-index: 1;
}

#SmackdownText {
  margin-right: 7.5vw;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para melhorar a legibilidade */
  padding: 20px;
  border-radius: 10px;
  font-size: large;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow:
    -1px -1px 0 #FFF,  
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
    1px 1px 0 #FFF;
}

#LogoSmackdown {
      margin-top:8vh;
      width: 25vw;
      margin-left: 7.5vw;
    }
    
#UltiSmack {
background-image: url("../IMG/ExtrasPosModerno/UltiSmack_BG.png");
background-size: cover;
height: 100vh;
background-position-x: 40%;
background-repeat: no-repeat;
width: 100%;
position: relative;
z-index: 1;
}

#LogoUltiSmack {
      margin-top:5vh;
      width: 25vw;
      margin-left: 7.5vw;
    }

#UltiSmackText {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  margin-right: 7.5vw;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para melhorar a legibilidade */
  padding: 10px;
  border-radius: 10px;
  font-size: large;
  width: 100%;
}



.divisor {
  position: relative;
  z-index: 10;
  margin-top: -50px;
  margin-bottom: -50px;
}

.divisor img {
  width: 100%;
  display: block;
}

    #logo {
      margin-top:10vh;
      width: 25vw;
      margin-left: 120px;
    }
    #logo2 {
            margin-top:10vh;

      width: 20vw;
      margin-left: 120px;
    }
    .col-md-6 {
      display: none;
    }
      a {
      text-decoration: none !important;
    }


}

