body{ /*Default BG*/
    background-color: #2F60AC;
}

@media (max-width: 575.98px) {  /* Celulares pequenos */

}
@media (min-width: 576px) and (max-width: 767.98px) {  /* Celulares grandes */

}
@media (min-width: 768px) and (max-width: 991.98px) {  /* Tablets */

}
@media (min-width: 992px) and (max-width: 1199.98px) {  /* Laptops */

}
@media (min-width: 1200px) {  /* Desktops grandes */

body{
  overflow-x: hidden;
}

#Introducao{
background-color: #FFF; 
text-align: center;
background-repeat: no-repeat;
background-image: url("../IMG/ExtrasClassico/Intro_BG1.png");
background-size: cover;
height: 90vh;

}

#Introducao h1 {
padding-top: 10vh;
font-size: 3rem;
font-weight: bold;
color: white;
text-shadow:
  -1px -1px 0 #000, 
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

#Introducao p {
font-size: 1.5rem;
font-weight: bold;
color: white;
padding-left: 5vw;
padding-right: 5vw;
text-shadow:
  -1px -1px 0 #000, 
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

#Riders {
      
background-image: url("../IMG/ExtrasAdventure/RidersDX_BG.png");
background-size: cover;
height: 110vh;
background-repeat: no-repeat;
width: 100%;
position: relative;
z-index: 1;
background-position-x: 40%;

/*Font Style*/
color: black;
font-size: 1.2rem;
font-weight: bold;
text-shadow:
  -1px -1px 0 #FFF,  
  1px -1px 0 #FFF,
  -1px 1px 0 #FFF,
  1px 1px 0 #FFF;
    }

#RidersText {
  margin-right: 7.5vw;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para melhorar a legibilidade */
  padding: 20px;
  border-radius: 10px;
  font-size: large;
}

#LogoRiders {
      margin-top:6vh;
      width: 20vw;
      margin-left: 7.5vw;
    }
#Advance {
      
background-image: url("../IMG/ExtrasAdventure/SA1_BG.png");
background-size: cover;
height: 95vh;
background-position-x: 40%;
background-repeat: no-repeat;
width: 100%;
position: relative;
z-index: 1;
/*Font Style*/
color: black;
font-size: 1.2rem;
font-weight: bold;
color: white;

    }

#logoSA1 {
      margin-top:10vh;
      width: 25vw;
      margin-left: 7.5vw;
    }

#Advance2 {
      
background-image: url("../IMG/ExtrasAdventure/SA2_BG.png");
background-size: cover;
height: 95vh;
background-position-x: 50%;
background-repeat: no-repeat;
width: 100%;
position: relative;
z-index: 1;
/*Font Style*/
color: black;
font-size: 1.2rem;
font-weight: bold;
text-shadow:
  -1px -1px 0 #FFF,  
  1px -1px 0 #FFF,
  -1px 1px 0 #FFF,
  1px 1px 0 #FFF;
    }

#logoSA2 {
      margin-top:10vh;
      width: 25vw;
      margin-left: 7.5vw;
    }

#SA2Text {
  margin-right: 7.5vw;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para melhorar a legibilidade */
  padding: 10px;
  border-radius: 10px;
  font-size: large;
  width: 100%;
}


#Chao {
  background-image: url("../IMG/ExtrasAdventure/Chao_BG.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  background-position-X:60%;
  position: relative;
  /*Font Style*/
  font-size: 1.2rem;
  font-weight: bold;
}

#ChaoText {
  margin-right: 7.5vw;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para melhorar a legibilidade */
  padding: 10px;
  border-radius: 10px;
  font-size: large;
  width: 100%;
  color: white;
}

#World{
background-image: url("../IMG/ExtrasAdventure/World_BG.png");
background-size: cover;
height: 100vh;
background-position: center;
position: relative;
z-index: 1;
/*Font Style*/
color: black;
font-size: 1.2rem;
font-weight: bold;
color: white;
}

#WorldText {
  margin-right: 7.5vw;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para melhorar a legibilidade */
  padding: 10px;
  border-radius: 10px;
  font-size: large;
  width: 80%;
}

#logoWorld {
      margin-top:10vh;
      width: 18vw;
      margin-left: 25%;
    }


#BattleR{
background-image: url("../IMG/ExtrasAdventure/BattleR_BG.png");
background-repeat: no-repeat;
height: 100vh;
background-size: cover;
background-position-x: -50vw;
/*Font Style*/
color: black;
font-size: 1.2rem;
font-weight: bold;
color: white;



}



#GT{
background-image: url("../IMG/ExtrasAdventure/GT_BG.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 95vh;
/*Font Style*/
}

#GTText {
  margin-right: 7.5vw;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para melhorar a legibilidade */
  padding: 10px;
  border-radius: 10px;
  font-size: large;
  width: 100%;
  font-weight: bold;
font-size: 1.2rem;
color: black;
text-shadow:
  -1px -1px 0 #FFF,  
  1px -1px 0 #FFF,
  -1px 1px 0 #FFF,
  1px 1px 0 #FFF;

}

.divisor {
  position: relative;
  z-index: 10;
  margin-top: -50px;
  margin-bottom: -50px;
}

.divisor img {
  width: 100%;
  display: block;
}

    #logo {
      margin-top:10vh;
      width: 25vw;
      margin-left: 120px;
    }
    #logo2 {
            margin-top:10vh;

      width: 20vw;
      margin-left: 120px;
    }
    .col-md-6 {
      display: none;
    }
      a {
      text-decoration: none !important;
    }


}
