body {
    background-color: #2F60AC;
    
}

@media (max-width: 575.98px) {  /* Celulares pequenos */


    /*General START*/
  body {
    background-image: url("../../../IMG/Sonic2/Ports/BG3.png");
    overflow-x: hidden;
  }
  .navbar-brand img {
        vertical-align: middle; /* Garante que a imagem do logo fique centralizada verticalmente */
  }

  #Passo-a-passoPC, #introdução, #IntroduçãoMD,#alertaMD, #ADPC, #logo, .col-lg-6, .col-lg-10{
      display: none;
  }

  #logo {
        margin-top: 50px;
        width:90vw;
  }

  #tutorial-img {
      width: 50vw;
      height: auto;
    }


  .col-6 {
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
  }


  a {
    text-decoration: none;
    color: blue;
  }

  img {
  width: 100%;
  }

  #Linktopage {
    color: blue;
    text-decoration: none !important;
  }

  .col-md-6 {
    display: block;
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
  }

  /*General END*/

  #introduçãoCell1 {
    margin-top: 170%; 
    background-color:#2F60AC;
    font-size: 1.2rem;
    color:black;
    text-align: center;
  }

    #introduçãoCell2 {
    margin-top: 5%; 
    background-color:#2F60AC;
    font-size: 1.2rem;
    color:black;
    text-align: center;

  }
  #BackgroundInicio {
    background-image: url("../../../IMG/Sonic3/Ports/BGMobile.png");
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 900px;
    background-position-x: center;
  }

  #Passo-a-passo {
        border-style: solid;
        background-image: url("../../../IMG/Sonic2/Ports/BG2.png");
        border-color: #C81F34;
        color: black;  
         
    }
  #ADCell1 {
    padding-top: 5%;
  }

}
@media (min-width: 576px) and (max-width: 767.98px) {  /* Celulares grandes */
    body {
    background-image: url("../../../IMG/Sonic2/Ports/BG3.png");
    overflow-x: hidden;
  }
  .navbar-brand img {
    vertical-align: middle; /* Garante que a imagem do logo fique centralizada verticalmente */
}

  #BackgroundInicio {
    background-image: url("../../../IMG/Sonic3/Ports/BGMobileMD.png");
    background-repeat: no-repeat;
    background-size: contain;  
    width:100vw;
    background-position-x: center;
    height: 60vh;
  }


      #Passo-a-passoPC, #introdução, #introduçãoCell1,#introduçãoCell2, #ADPC, #logo, .col-lg-6, .col-lg-10{
      display: none;
    }
    #IntroduçãoMD {
    margin-top: 5vh; 
    background-color:#2F60AC;
    font-size: 1.2rem;
    color:black;
    margin-bottom: 5vh;
  }
  #alertaMD {
    background-color:#C81F34;
    font-size: 1.2rem;
    color:black;
  }

  .col-6 {
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
  }

  .col-md-6 {
    display: block;
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
  }

   #Passo-a-passo {
        border-style: solid;
        background-image: url("../../../IMG/Sonic2/Ports/BG2.png");
        border-color: #C81F34;
        color: black;  
         
    }

      #ADCell1 {
    padding-top: 10%;
  }

    #alerta2 {
    padding: 2vh;
    margin-top: 5vh;
    background-color: red;
    color: black;
    }

  img{
  width: 100%;
  }

  #Linktopage {
    color: blue;
    text-decoration: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {  /* Tablets */

#BackgroundInicio {
    background-image: url("../../../IMG/Sonic3/Ports/BG1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center ;
}
.col-sm-10{
    display: none;
}
.col-sm-8{
    display: none;
}
#BackgroundResto{
    background-color:black;
}
#logo {
    margin-top: 10px;
    margin-bottom: 10px;
    width:30vw;
    margin-left: 120px;
}
.col-lg-6{
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
}
body
{  background-image:url("../../../IMG/Sonic1/Ports/BG3.png");}
table thead th {
    text-align: center !important;
    vertical-align: middle !important;
}
#introdução{
font-size: 1.5rem;
  color:white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

#alerta{
    font-size: 0.8em;
    padding: 2vh;
    background-color: red;
    color: black;
}
body a {
    text-decoration: none !important;
  }

  #division{
    background-image: url("../../../IMG/Sonic2/Ports/divisão.png");
    width: 100%;
    height: 2vh;

  }

  #tutorial-img{
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 20vw;
}

#Passo-a-passo{
    border-style: solid;
    background-image: url("../../../IMG/Sonic1/Ports/BG2.png");
    border-color: #C81F34;
    color: black;
    
}
#Passo-a-passo h2{
    padding-bottom: 1.9vh;
}
#Passo-a-passo h6{
    font-size: 1.1em;
    font-weight: bold;
}
#Menu-sticky{
    position: sticky;
    top:40%;
    border-style: solid;
    border-color: blue;
    text-align: center;
}
#Menu-sticky a{
    position: sticky;
    top:40%;
    border-style: solid;
    border-color: blue;
    text-align: center;
}

#nota{
    font-size: 0.9em;
}


#alerta2{
    padding: 2vh;
    margin-top: 5vh;
    background-color: red;
    color: black;
}




#Passo-a-passo1{
 text-align: center;
padding-top: 10vh;
}

.col-sm-10, #IntroduçãoMD, #alertaMD, .col-sm-8, #Passo-a-passoCell, #ADCell{
    display: none;
}

}
@media (min-width: 992px) and (max-width: 1199.98px) {  /* Laptops */
#BackgroundInicio {
    background-image: url("../../../IMG/Sonic3/Ports/BG1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center ;
}
.col-sm-10{
    display: none;
}
.col-sm-8{
    display: none;
}
#BackgroundResto{
    background-color:black;
}
#logo {
    margin-top: 10px;
    margin-bottom: 10px;
    width:30vw;
    margin-left: 120px;
}
.col-lg-6{
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
}
body
{  background-image:url("../../../IMG/Sonic1/Ports/BG3.png");}
table thead th {
    text-align: center !important;
    vertical-align: middle !important;
}
#introdução{
font-size:1.5rem;
  color:white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

#alerta{
    font-size: 0.8em;
    padding: 2vh;
    background-color: red;
    color: black;
}
body a {
    text-decoration: none !important;
  }

  #division{
    background-image: url("../../../IMG/Sonic2/Ports/divisão.png");
    width: 100%;
    height: 2vh;

  }

  #tutorial-img{
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 20vw;
}

#Passo-a-passo{
    border-style: solid;
    background-image: url("../../../IMG/Sonic1/Ports/BG2.png");
    border-color: #C81F34;
    color: black;
    
}
#Passo-a-passo h2{
    padding-bottom: 1.9vh;
}
#Passo-a-passo h6{
    font-size: 1.1em;
    font-weight: bold;
}
#Menu-sticky{
    position: sticky;
    top:40%;
    border-style: solid;
    border-color: blue;
    text-align: center;
}
#Menu-sticky a{
    position: sticky;
    top:40%;
    border-style: solid;
    border-color: blue;
    text-align: center;
}

#nota{
    font-size: 0.9em;
}


#alerta2{
    padding: 2vh;
    margin-top: 5vh;
    background-color: red;
    color: black;
}




#Passo-a-passo1{
 text-align: center;
padding-top: 10vh;
}

.col-sm-10, #IntroduçãoMD, #alertaMD, .col-sm-8, #Passo-a-passoCell, #ADCell{
    display: none;
}


}
@media (min-width: 1200px) {  /* Desktops grandes */

#BackgroundInicio {
    background-image: url("../../../IMG/Sonic3/Ports/BG1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center ;
}
.col-sm-10{
    display: none;
}
.col-sm-8{
    display: none;
}
#BackgroundResto{
    background-color:black;
}
#logo {
    margin-top: 10px;
    margin-bottom: 10px;
    width:30vw;
    margin-left: 120px;
}
.col-lg-6{
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
}
body
{  background-image:url("../../../IMG/Sonic1/Ports/BG3.png");}
table thead th {
    text-align: center !important;
    vertical-align: middle !important;
}
#introdução{
font-size: 1.5rem;
  color:white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

#alerta{
    font-size: 0.8em;
    padding: 2vh;
    background-color: red;
    color: black;
}
body a {
    text-decoration: none !important;
  }

  #division{
    background-image: url("../../../IMG/Sonic2/Ports/divisão.png");
    width: 100%;
    height: 2vh;

  }

  #tutorial-img{
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 20vw;
}

#Passo-a-passo{
    border-style: solid;
    background-image: url("../../../IMG/Sonic1/Ports/BG2.png");
    border-color: #C81F34;
    color: black;
    
}
#Passo-a-passo h2{
    padding-bottom: 1.9vh;
}
#Passo-a-passo h6{
    font-size: 1.1em;
    font-weight: bold;
}
#Menu-sticky{
    position: sticky;
    top:40%;
    border-style: solid;
    border-color: blue;
    text-align: center;
}
#Menu-sticky a{
    position: sticky;
    top:40%;
    border-style: solid;
    border-color: blue;
    text-align: center;
}

#nota{
    font-size: 0.9em;
}


#alerta2{
    padding: 2vh;
    margin-top: 5vh;
    background-color: red;
    color: black;
}

#Passo-a-passo1{
 text-align: center;
padding-top: 10vh;
}

.col-sm-10, #IntroduçãoMD, #alertaMD, .col-sm-8, #Passo-a-passoCell, #ADCell{
    display: none;
}

}



