/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

body{
  overflow-x: hidden;
}
    #logo-img { 
      width: 10vw;
    }
  
    #BackgroundInicio {
      background-repeat: no-repeat;
      background-size: cover;
      height: 90vh;
      min-height: 50%;
      background-position: center;
    }
  
    #BackgroundResto {
      background-color: #2F60AC;
    }
    #SMS_Remake {
      
background-image: url("../IMG/ClassicoExtras/S1_SMS_BG.png");
background-size: cover;
height: 100vh;
background-position: center;
background-repeat: no-repeat;
width: 100%;
position: relative;
z-index: 1;
font-size: 1.2rem;
font-weight: bold;


    }


#Sonic_Chaos {
  background-image: url("../IMG/ClassicoExtras/SC_BG2.png");
  background-size: cover;
  height: 100vh;
  background-position: center;
  position: relative;
  z-index: 1;
  font-size: 1.2rem;
  font-weight: bold;
}
#TripleTrouble{
background-image: url("../IMG/ClassicoExtras/STT_BG.jpg");
background-size: cover;
height: 100vh;
background-position: center;
position: relative;
z-index: 1;
font-size: 1.2rem;
font-weight: bold;


}
#SonicR{
background-image: url("../IMG/ClassicoExtras/S_R_BG2.png");
background-repeat: no-repeat;
height: 100vh;
background-size: cover;
color: black;
font-size: 1.2rem;
font-weight: bold;
background-position: center;
background-position-x: -1vw;


}

#TailsAdventure{
background-image: url("../IMG/ClassicoExtras/test.png");
background-repeat: no-repeat;
background-size: cover;
background-position-x: -15vw;
background-position: center;
font-weight: bold;
height: 100vh;
font-size: 1.2rem;
color: black;
}

#Fighters{
background-image: url("../IMG/ClassicoExtras/S_F_BG.png");
background-repeat: no-repeat;
height: 100vh;
background-size: cover;
color: black;
font-size: 1.2rem;
font-weight: bold;
background-position-x: -20vw;
width: 100%;
background-position: center;
}

#Blast3D{
background-image: url("../IMG/ClassicoExtras/S_3D_BG.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
font-weight: bold;
height: 100vh;
background-position-x: -25vw;
font-size: 1.2rem;
color: black;
    text-shadow:
      -1px -1px 0 #FFF,  
       1px -1px 0 #FFF,
      -1px 1px 0 #FFF,
       1px 1px 0 #FFF;
}

#Spinball{
background-image: url("../IMG/ClassicoExtras/S_BALL_BG3.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
font-weight: bold;
height: 100vh;
font-size: 1.2rem;
color: white;
}

#RingRacers{
background-image: url("../IMG/ClassicoExtras/Dr_R_R_BG.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
font-weight: bold;
background-position-x: -12vw;
height: 100vh;
font-size: 1.2rem;
color: black;
}

#MeanBean{
background-image: url("../IMG/ClassicoExtras/M_B_BG.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
font-weight: bold;
height: 100vh;
font-size: 1.2rem;
color: black;
    text-shadow:
      -1px -1px 0 #FFF,  
       1px -1px 0 #FFF,
      -1px 1px 0 #FFF,
       1px 1px 0 #FFF;
}


.divisor {
  position: relative;
  z-index: 10;
  margin-top: -50px;
  margin-bottom: -50px;
}

.divisor img {
  width: 100%;
  display: block;
}

    
  
    #logo {
      margin-top:10vh;
      width: 25vw;
      margin-left: 120px;
    }
    #logo2 {
            margin-top:10vh;

      width: 20vw;
      margin-left: 120px;
    }
  
    .col-lg-6 {
      font-weight: bold;
      font-size: larger;
      text-decoration: none;
    }
  
    .col-md-6 {
      display: none;
    }
  
    body {
      background-color: #2F60AC;
    }
  
    table thead th {
      text-align: center !important;
      vertical-align: middle !important;
    }
  
    #introdução {
      color: white;
      text-shadow:
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
    }
  
    a {
      text-decoration: none !important;
    }
  
    #divisão {
      padding-top: 2vh;
    }
  }
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    body {
      background-color: #2F60AC;
  
      overflow-x: hidden;
    }
    .navbar-brand img {
      vertical-align: middle; /* Garante que a imagem do logo fique centralizada verticalmente */
  }
  
    #BackgroundInicio {
      background-image: url("../../IMG/Sonic1/Sonic1BGMobile.jpg");
      background-repeat: no-repeat;
      background-position-x:-18vw;
      width:100%
    }
  
    #introdução {
      padding-top: 115vh;
      position: relative;
      color: white;
      text-shadow:
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
      text-align: center;
    }
  
    .col-md-6 {
      display: block;
      font-weight: bold;
      font-size: larger;
      text-decoration: none;
    }
  
    .col-lg-6 {
      display: none;
    }
  
    #logo {
      display:none
    }
  
    .col-6 {
      font-weight: bold;
      font-size: larger;
      text-decoration: none;
    }
  
    table thead th {
      padding-top: 0vh;
      text-align: center !important;
    }
  
    #tabela {
      margin-top: 1vh;
    }
  
    #tabela2 {
      margin-top: 5vh;
    }
  
    a {
      text-decoration: none;
      color: blue;
    }
  
    #logo-img{ 
      width: 30vw;
      margin-left: 30vw;
  }
  img{
    width: 100%;
  }
  
    #Linktopage {
      color: blue;
      text-decoration: none !important;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
  
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
  
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  
  }
  
