/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

body{
  overflow-x: hidden;
}
    #logo-img { 
      width: 10vw;
    }
#Introducao{
background-color: #FFF; 
text-align: center;
background-repeat: no-repeat;
background-image: url("../IMG/ExtrasClassico/Intro_BG1.png");
background-size: cover;
height: 90vh;

}

#Introducao h1 {
padding-top: 10vh;
font-size: 3rem;
font-weight: bold;
color: white;
text-shadow:
  -1px -1px 0 #000, 
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

#Introducao p {
font-size: 1.5rem;
font-weight: bold;
color: white;
padding-left: 5vw;
padding-right: 5vw;
text-shadow:
  -1px -1px 0 #000, 
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

    #SMS_Remake {
      
background-image: url("../IMG/ExtrasClassico/S1_SMS_BG1.png");
background-size: cover;
height: 100vh;
background-position: center;
background-repeat: no-repeat;
width: 100%;
position: relative;
z-index: 1;
/*Font Style*/
color: black;
font-size: 1.2rem;
font-weight: bold;
text-shadow:
  -1px -1px 0 #FFF,  
  1px -1px 0 #FFF,
  -1px 1px 0 #FFF,
  1px 1px 0 #FFF;
    }


#Sonic_Chaos {
  background-image: url("../IMG/ExtrasClassico/SC_BG1.png");
  background-size: cover;
  height: 100vh;
  background-position: center;
  position: relative;
  z-index: 1;
  /*Font Style*/
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}

#TripleTrouble{
background-image: url("../IMG/ExtrasClassico/STT_BG1.jpg");
background-size: cover;
height: 100vh;
background-position: center;
position: relative;
z-index: 1;
/*Font Style*/
color: black;
font-size: 1.2rem;
font-weight: bold;


}
#SonicR{
background-image: url("../IMG/ExtrasClassico/S_R_BG1.png");
background-repeat: no-repeat;
height: 100vh;
background-size: cover;
background-position: center;
background-position-x: -1vw;
/*Font Style*/
color: black;
font-size: 1.2rem;
font-weight: bold;



}

#TailsAdventure{
background-image: url("../IMG/ExtrasClassico/T_A_BG1.png");
background-repeat: no-repeat;
background-size: cover;
background-position-x: -15vw;
background-position: center;
height: 100vh;
/*Font Style*/
font-weight: bold;
font-size: 1.2rem;
color: black;
}

#Fighters{
background-image: url("../IMG/ExtrasClassico/S_F_BG1.png");
background-repeat: no-repeat;
height: 100vh;
background-size: cover;
background-position-x: -20vw;
background-position: center;
/*Font Style*/
color: black;
font-size: 1.2rem;
font-weight: bold;
}

#Blast3D{
background-image: url("../IMG/ExtrasClassico/S_3D_BG1.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 100vh;
background-position-x: -25vw;
/*Font Style*/
font-size: 1.2rem;
color: black;
font-weight: bold;
text-shadow:
  -1px -1px 0 #FFF,  
  1px -1px 0 #FFF,
  -1px 1px 0 #FFF,
  1px 1px 0 #FFF;
}

#Spinball{
background-image: url("../IMG/ExtrasClassico/S_BALL_BG1.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 100vh;
/*Font Style*/
font-weight: bold;
font-size: 1.2rem;
color: white;
}

#RingRacers{
background-image: url("../IMG/ExtrasClassico/RR_BG1.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-position-x: -17vw;
height: 100vh;
/*Font Style*/
font-weight: bold;
font-size: 1.2rem;
color: black;
}

#MeanBean{
background-image: url("../IMG/ExtrasClassico/Bean_BG1.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 100vh;
/*Font Style*/
font-weight: bold;
font-size: 1.2rem;
color: black;
text-shadow:
  -1px -1px 0 #FFF,  
  1px -1px 0 #FFF,
  -1px 1px 0 #FFF,
  1px 1px 0 #FFF;
}

#RoboBlast2{
background-image: url("../IMG/ExtrasClassico/SRB2_BG1.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 95vh;
/*Font Style*/
font-weight: bold;
font-size: 1.2rem;
color: black;
text-shadow:
  -1px -1px 0 #FFF,  
  1px -1px 0 #FFF,
  -1px 1px 0 #FFF,
  1px 1px 0 #FFF;
}


.divisor {
  position: relative;
  z-index: 10;
  margin-top: -50px;
  margin-bottom: -50px;
}

.divisor img {
  width: 100%;
  display: block;
}

    #logo {
      margin-top:10vh;
      width: 25vw;
      margin-left: 120px;
    }
    #logo2 {
            margin-top:10vh;

      width: 20vw;
      margin-left: 120px;
    }
    .col-md-6 {
      display: none;
    }
      a {
      text-decoration: none !important;
    }
  }
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    body {
      background-color: #2F60AC;
  
      overflow-x: hidden;
    }
    .navbar-brand img {
      vertical-align: middle; /* Garante que a imagem do logo fique centralizada verticalmente */
  }
  
    #BackgroundInicio {
      background-image: url("../../IMG/Sonic1/Sonic1BGMobile.jpg");
      background-repeat: no-repeat;
      background-position-x:-18vw;
      width:100%
    }
  
    #introdução {
      padding-top: 115vh;
      position: relative;
      color: white;
      text-shadow:
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
      text-align: center;
    }
  
    .col-md-6 {
      display: block;
      font-weight: bold;
      font-size: larger;
      text-decoration: none;
    }
  
    .col-lg-6 {
      display: none;
    }
  
    #logo {
      display:none
    }
  
    .col-6 {
      font-weight: bold;
      font-size: larger;
      text-decoration: none;
    }
  
    table thead th {
      padding-top: 0vh;
      text-align: center !important;
    }
  
    #tabela {
      margin-top: 1vh;
    }
  
    #tabela2 {
      margin-top: 5vh;
    }
  
    a {
      text-decoration: none;
      color: blue;
    }
  
    #logo-img{ 
      width: 30vw;
      margin-left: 30vw;
  }
  img{
    width: 100%;
  }
  
    #Linktopage {
      color: blue;
      text-decoration: none !important;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
  
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
  
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  
  }
  
