body {
    background-color: #2F60AC;
}

@media (max-width: 575.98px) {  /* Celulares pequenos */

  body {
    background-color: black;
    overflow-x: hidden;
  }
  .navbar-brand img {
    vertical-align: middle; /* Garante que a imagem do logo fique centralizada verticalmente */
  }

  #BackgroundInicio {
    background-image: url("../../IMG/SonicCD/BGMobile.png");
    background-repeat: no-repeat;
    background-size: contain;
    width:100%;
    background-position-x: center;
  }

  #introdução {
    padding-top: 180%;
    color: white;
    text-shadow:
      -1px -1px 0 #000,  
       1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    text-align: center;
  }

  .col-md-6 {
    display: block;
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
  }

  .col-lg-6, #logo /*HIDING*/ {
    display: none;
  }

  .col-6 {
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
  }

  table thead th {
    padding-top: 0vh;
    text-align: center !important;
  }

  #tabela {
    margin-top: 1vh;
  }

  #tabela2 {
    margin-top: 5vh;
  }

  a {
    text-decoration: none;
    color: blue;
  }

  img {
  width: 100%;
  }

  #Linktopage {
    color: blue;
    text-decoration: none !important;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {  /* Celulares grandes */
    body {
    background-color: #f6f4f8;
    overflow-x: hidden;
  }
  .navbar-brand img {
    vertical-align: middle; /* Garante que a imagem do logo fique centralizada verticalmente */
}

  #BackgroundInicio {
    background-image: url("../../IMG/SonicCD/BGMobileMD.png");
    background-repeat: no-repeat;
    background-size: contain;  
    width:100%;
    background-position-x: center;
  }

  #introdução {
    padding-top: 70%;
    position: relative;
    color: black;

    text-align: center;
    font-size: larger;
    font-weight: bold;
  }

  .col-lg-6, #logo /*HIDING*/ {
    display: none;
  }

  .col-6 {
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
  }

  table thead th {
    padding-top: 0vh;
    text-align: center !important;
    color:#000;
  }

  #tabela {
    margin-top: 1vh;
  }

  #tabela2 {
    margin-top: 5vh;
  }

  a {
    text-decoration: none;
    color: blue;
  }

  img{
  width: 100%;
  }

  #Linktopage {
    color: blue;
    text-decoration: none !important;
  }
}


@media (min-width: 768px) and (max-width: 991.98px) {  /* Tablets */

  body {
    background-color: black;
    overflow-x: hidden;
  }
  .navbar-brand img {
    vertical-align: middle; /* Garante que a imagem do logo fique centralizada verticalmente */
}

  #BackgroundInicio {
      background-image: url("../../IMG/SonicCD/BG1.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 80vh;
      min-height:525px;
      background-position-x: 83%;
  }

  #introdução {
  color: white;
      text-shadow:
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
  font-size: 1rem;
  width: 90%;
    
  }

  .col-md-6 {
    display: block;
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
    font-size: 1rem;
  }

  .col-lg-6 {
    display: none;
  }

  #logo {
    margin-left: 15%;
    margin-top: 20px;
    width: 30vw;
  }

  .col-6 {
    font-weight: bold;
    font-size: 1;
    text-decoration: none;
  }

  table thead th {
    padding-top: 0vh;
    text-align: center !important;
  }

  a {
    text-decoration: none;
    color: blue;
  }

  img {
  width: 100%;
  }

  #nav {
  width: 100%;
  }

  #Linktopage {
    color: blue;
    text-decoration: none !important;
  }

}
@media (min-width: 992px) and (max-width: 1199.98px) {  /* Laptops */


  body{
    background-color: #000;
  }

  #BackgroundInicio {
      background-image: url("../../IMG/SonicCD/BG1.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      min-height:650px;
      background-position-x: 85%;
  }



  #logo {
    margin-top: 20px;
    width: 25vw;
    margin-left: 120px;
  }

  .col-lg-6 {
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
  }

  .col-md-6 {
    display: none;
  }

  table thead th {
    text-align: center !important;
    vertical-align: middle !important;
  }

  #introdução {
  color: white;
      text-shadow:
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
  font-size: 1rem;
  width: 80%;
 
  }

  a {
    text-decoration: none !important;
  }

  #divisão {
    padding-top: 2vh;
  }  
}
@media (min-width: 1200px) {  /* Desktops grandes */

body{
  background-color: #000;
}
    

  #BackgroundInicio {
      background-image: url("../../IMG/SonicCD/BG1.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      min-height:600px;
      background-position-x: 80%;
  }

  #logo {
      margin-top: 20px;
      width:25vw;
      margin-left: 13vw;
  }
  .col-lg-6{
      font-weight: bold;
      font-size: larger;
      text-decoration: none;
  }
  .col-md-6{
      display: none;
  }
  
  table thead th {
      text-align: center !important;
      vertical-align: middle !important;
  }
  #introdução{
  color: white;
      text-shadow:
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
  }
  
  a {
      text-decoration: none !important;
    }
  
  
    #divisão{
      padding-top: 2vh;
    }
  
}












  
 