@media only screen and (min-width: 1200px) {

    body {
      background-color: #2F60AC;
      max-width: 100%;
      overflow-x: hidden;
    }
    #logo-img { 
      width: 10vw;
    }
  
    #BackgroundInicio {
      background-image: url("../../IMG/Sonic3/BG3.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 90vh;
      min-height: 50%;
      background-position: center;
    }
  
    #logo {
      margin-top: 9vh;
      margin-bottom: 1vh;
      width: 25vw;
      margin-left: 13vw;
    }
  
    .col-lg-6 {
      font-weight: bold;
      font-size: larger;
      text-decoration: none;
    }
  
    .col-md-6 {
      display: none;
    }
  
    table thead th {
      text-align: center !important;
      vertical-align: middle !important;
    }
  
    #introdução {
      color: black;
      text-shadow:
        -1px -1px 0 #fff,  
         1px -1px 0 #fff,
        -1px 1px 0 #fff,
         1px 1px 0 #fff;
    }
  
    a {
      text-decoration: none !important;
    }
  
    #divisão {
      padding-top: 2vh;
    }
  }
  
  @media only screen and (max-width: 600px) {
    body {
      background-color: black;
      max-width: 100%;
      overflow-x: hidden;
    }
  
    #BackgroundInicio {
      background-image: url("../../IMG/Sonic3/BGMobile.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 180vh;
      width: auto;
    }
  
    #introdução {
      padding-top: 120vh;
      position: relative;
        color: white;
        text-shadow:
         -1px -1px 0 #000,  
          1px -1px 0 #000,
          -1px 1px 0 #000,
           1px 1px 0 #000;
           text-align: center;
    }
  
    .col-md-6 {
      display: block;
      font-weight: bold;
      font-size: larger;
      text-decoration: none;
    }
  
    .col-lg-6 {
      display: none;
    }
  
    #logo {
      display:none
    }
  
    .col-6 {
      font-weight: bold;
      font-size: larger;
      text-decoration: none;
    }
  
    table thead th {
      padding-top: 0vh;
      text-align: center !important;
  }
    #tabela{
      margin-top: 10vh;
    }
    #tabela2{
      margin-top: 5vh;
    }
  
    a {
      text-decoration: none;
      color: blue;
    }
  
    #logo-img{ 
      width: 30vw;
      margin-left: 30vw;
  }
  
    #Linktopage {
      color: blue;
      text-decoration: none !important;
    }
  }